/* GENERAL STYLES */

:root {

  
  
    --color-one: rgb(43, 38, 71);
    --color-two: rgb(229, 212, 206);
    --color-three: rgb(222, 110, 75);
    --color-four: rgb(127, 209, 185);
    --color-five: rgb(229, 99, 153);
    --main-bg-color: var(--color-one);
    --font-headings: "JetBrains Mono", monospace;
    --font-body: "Poppins", sans-serif;
    --padding: 2rem;
  }
  

@font-face {
    font-family: "Arcon";
    src: url("./assets/fonts/arcon/Arcon-Regular.otf");
}
@font-face {
    font-family: "SpecialElite";
    src: url("./assets/fonts/special-elite/SpecialElite.ttf");
}

/* GET RID OF TWINE STYLES */
#story {
    margin: 0;
  }
  
  #passages {
    max-width: 100%;
    width: 100%;
  }

.passage{
    width: 100%; 
    height: 100%; 
}
  
  #story a.link-external:after {
    content: "";
  }

  #story a.link-external:after {
    content: "";
  }
  
  #story {
    margin: 0;
    width: 100%;
  }
  
  body[data-tags~="t8n-dissolve"] .transition-in {
    position: absolute;
    opacity: 0;
  }
  body[data-tags~="t8n-dissolve"] .passage {
    transition: 1s;
    -webkit-transition: 1s;
  }
  body[data-tags~="t8n-dissolve"] .transition-out {
    position: absolute;
    opacity: 0;
  }

  @media screen and (max-width: 700px) {
    #passages {
  height: 100%;
    font-size: 1.8rem;
      font-weight: 300;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  #story {
  height: 100%;
  width: 100%;
  }
  
  #passage-prestart{
    height: 100%
  }
  
  main {
    height: 100%;
  
  }
  
  a:active {
    background-color: #f2647d;
  }
  
  input[type=text] {
      min-width: 14em;
  }
  
  }

 

  /* BUTTONS & LINKS  */
  
  button,
  .inline-btn-wrapper > a {
    background-color: var(--color-yellow);
    color: var(--color-two);
    border: var(--color-two) 1px solid;
    border-radius: 3px;
    font-family: var(--font-headings);
    text-transform: uppercase;
    padding: 5px;
    box-shadow: var(--accent-color-shadow) 4px 4px;
  }
  
  button:hover {
    background-color: var(--color-five);
    border: var(--color-two) 1px solid;
    color: var(--color-two);
  }
  
  button:focus,
  .inline-btn-wrapper > a {
    transform: translate(2px, 2px);
    box-shadow: var(--accent-color-shadow) 1px 1px;
  }
  
  a {
    color: var(--accent-color-secondary);
  }
  
  a:active {
    background-color: var(--color-five);
  }
  
  a:hover {
    color: var(--color-two);
  }
  

.hide{
    display: none;
}

/* STRUCTURAL */

header, footer, main{
  width: 100%;
  padding: 2rem;
}

body {
	background-color: #000;
    /* background-color: #a14506; */
	/* font-family: "Arcon", monospace; */
	/* font-size: 10px; */
	height: 100vh;
	display:flex;
  color: var(--color-two);
	justify-content:center;
	align-items: center;
  overflow: scroll;
}


/* TYPOGRAPHY  */


/* BINGO CARD */

/* Bingo Card Layout using CSS Grid */
.bingo-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columns */
  grid-template-rows: repeat(5, 1fr); /* 5 rows */
  gap: 10px; /* Space between squares */
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffcee7;
  border: 2px solid #333;
}

.bingo-square {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 2px solid #333;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 0.5rem;
}

.bingo-square:hover {
  background-color: #dfe6e9;
}

/* Optional - change color when a square is clicked */
.bingo-square.clicked {
  background-color: #74b9ff;
  color: #fff;
}


/* MENTIMETER */
.menti-wrapper{
  width: 100%;
  padding: 1.5rem;
}

@media screen and (min-width: 700px) {
 main{
  display: none
};

  .desktop-message {
    display: block;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
  }
}